In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Read the data
comp_data = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/1000_Companies.csv")
comp_data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
# preprocess the data
comp_data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [6]:
# seperate input and output data
x = comp_data[['R&D Spend','Administration','Marketing Spend']]
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [7]:
y = comp_data['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
# Seperate Train and test data
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [10]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [11]:
# train the model fit 
linear.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
# test the model using predict
answers = linear.predict(x_test)

In [13]:
linear.score(x_train,y_train)

0.9593139672748139

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test,answers)

0.9196953691968435

In [15]:
linear.predict([[150000,450000,320000]])

array([454208.5665592])