## Classification
- Catagorical data

## KNN Algorithem

In [2]:
import pandas as pd

In [12]:
# 1.read the data
df=pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/shirt.csv")
df

    Height  Weight Size
0      158      58    M
1      158      59    M
2      158      63    M
3      160      59    M
4      160      60    M
5      163      60    M
6      163      61    M
7      160      64    L
8      163      64    L
9      165      61    L
10     165      61    L
11     165      62    L
12     168      62    L
13     168      63    L
14     168      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [7]:
df.shape

(18, 3)

In [10]:
# preprocessing the data
df.isnull().sum()

Height    0
Weight    0
Size      0
dtype: int64

In [13]:
## seperating input and output

In [18]:
input_data=df[["Height","Weight"]]
input_data

    Height  Weight
0      158      58
1      158      59
2      158      63
3      160      59
4      160      60
5      163      60
6      163      61
7      160      64
8      163      64
9      165      61
10     165      61
11     165      62
12     168      62
13     168      63
14     168      66
15     170      63
16     170      64
17     170      68

In [20]:
## output
output_data=df["Size"]
output_data

0     M
1     M
2     M
3     M
4     M
5     M
6     M
7     L
8     L
9     L
10    L
11    L
12    L
13    L
14    L
15    L
16    L
17    L
Name: Size, dtype: object

In [28]:
## in traget  columns the data should be in int or float format only
target_data=pd.get_dummies(df["Size"],drop_first=True)
target_data

    M
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0

In [40]:
##4.Split into train and testing parts
##5. Applying model
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()

In [41]:
## 6.fit the model to input and ouput
k.fit(input_data,target_data)

C:\Users\NAGARAJU\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [43]:
pred=k.predict(input_data)
pred

array([1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [44]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [45]:
accuracy_score(target_data,pred)

0.8333333333333334

In [46]:
confusion_matrix(target_data,pred)

array([[10,  1],
       [ 2,  5]], dtype=int64)

In [47]:
### predict manual
k.predict([[150,45]]) ##M

array([1], dtype=uint8)